body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #7f8e9e;
    color: rgb(38, 37, 37);
    padding: 1rem;
    text-align: center;
}

footer {
    background: #465764;
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(173, 175, 175);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  /* Styles for the container */
.button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Primary Button (e.g., Blue) */
  .btn-primary {
    background-color: #8e9ea6; /* Blue */
    color: rgb(68, 67, 67);             /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-primary:hover {
    background-color: #606871; /* Darker Blue */
  }
  
  /* Secondary Button (e.g., Green) */
  .btn-secondary {
    background-color: #8e9ea6; /* Green */
    color: rgb(68, 67, 67);             /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-secondary:hover {
    background-color: #606871; /* Darker Green */
  }
  